<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <p>Welcome
        <%= name %>
    </p>
    <p>
        <%- tname %>
    </p>

    <!-- <p>
        <%= username %>
    </p> -->

    <% if(!username){ %>
        <div class="">
            <input type="button" value="登陆" onclick="location.href='/login'">
            <input type="button" value="注册" onclick="location.href='/registor'">
        </div>
        <% } else { %>
            <div>
                你好：
                <%= username %>
                    <input type="button" value="评论" onclick="location.href='/comment'" />

                    <input type="button" value="注销" onclick="location.href='/loginout'" />
            </div>
            <% } %>
</body>

</html>